<div class="_doc posi_max">
    <div [innerHTML]="TempHTML | htmlStyle" #DocSign class="left posi_max"></div>
    <div class="right posi_max">
        <div class="right-content">
            <nz-collapse>
                <nz-collapse-panel *ngFor="let panel of SelectTag.records" [nzHeader]="panel.name">
                    <p style="margin:0;">
                        {{ panel.content }}
                    </p>
                </nz-collapse-panel>
            </nz-collapse>

            <label>修改内容：</label>
            <textarea rows="4" nz-input [(ngModel)]="SelectTag.text" (ngModelChange)="EditTageChange($event)"></textarea>
        </div>
    </div>
</div>