<div class="_excel_temp">
  <ng-container *ngIf="IsMulti">
    <div class="_excel_tabs"></div>
  </ng-container>
  <!-- <div class="_excel_core"></div> -->
  <div class="_excel_container">
    <ng-container *ngIf="MultiItem.length > 0; else errorTmp">
      <div class="_excel_ifr">
        <ng-container *ngFor="let item of MultiItem; let i = index;">
          <iframe [attr.id]="'ifr_' + i" [attr.src]="item.src || defaultUrl" frameborder="0" width="100%"
            height="100%" (load)="IframeOnload($event, i)"></iframe>
        </ng-container>
      </div>
    </ng-container>
    <ng-template #errorTmp>
      <span>未传递 MultiItem 参数</span>
    </ng-template>
  </div>
</div>