<!-- <div class="_cy_step">
    <div class="_step_item">
        02-02前报名
    </div>
    <div class="_step_item">
        02-04前制作方案
    </div>
    <div class="_step_item">
        02-06前公告挂网
    </div>
</div> -->
<div class="_cy_step">
    <ng-container *ngFor="let item of StepSource;let i=index;">
        <div class="_step_item {{ SelectorStepIndex - 1 ===i? 'active': ''}}">
            <ng-template [ngTemplateOutlet]="containerTemp" [ngTemplateOutletContext]="item">
            </ng-template>
            <ng-container *ngIf="!containerTemp">
                <div class="_top">
                    <span class="_time_val">{{ item.date | date: 'MM-dd' }}</span>
                    <div class="_time_selector">
                        <nz-date-picker [nzOpen]="item.TimeOpen" [(ngModel)]="item.date"
                            (ngModelChange)="onChange($event, item)"></nz-date-picker>
                    </div>
                    <i nz-icon nzType="calendar" nzTheme="outline" (click)="showDatePicker(item)"></i>
                </div>
                <div class="_bottom">
                    <span class="_container">{{item.content}}</span>
                </div>
            </ng-container>
        </div>
    </ng-container>
</div>